*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-family: sans-serif;
 }

 .center{
     height: 100vh;
     border: 1px solid red;
     display: grid;
     place-items: center;
     padding: 0rem 5rem;
 }

 h1{
     font-size: 3rem;
     color:#e63946;
     margin:0;
 }

 h2{
     font-size: 2rem;
     color:purple;
 }

.text-align-center{
    text-align: center;
}

#start-btn{
font-size: 1rem;
padding: 1rem;
}

.hidden{
    display: none;
}

#start-btn{
    background-color: #e63946; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #start-btn:hover {
    background-color: #772014;
    color: #fff;
  }
  
  
  #start-btn:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  #start-btn:focus {
    outline: none;
    border-color: #8ac4ff;
  }

  .question-choices {
      font-size: larger;
      color:white;
      padding: 10px 24px; 
      cursor: pointer; 
      width: 50%; 
      display: block;
      background-color:purple
  }


  #end-screen {
      color:purple;
      font-size: larger;
  }

  #submit {
      font-size: larger;
      color:white;
      padding: 10px 24px; 
      cursor: pointer; 
      width: 50%; 
      background-color:purple;
  }

  #score {
      color:purple;
      font-size:larger;
  }

  .score-container {
      color:purple;
      font-size:larger;
  }

  #time {
    color:#e63946;
    font-size:larger;

  }

  .timer {
    color:#e63946;
    font-size:larger;
  }

  .view-high-scores {
    color:#e63946;
    font-size:larger;
  }

 .wrapper {
    font-size:larger;
 }

 #highscores {
    color:purple;
    font-size:larger;
 }

 #clear {
    font-size: larger;
    color:white;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 50%; 
    background-color:purple;
 }

 #go-back {
    font-size: larger;
    color:white;
    padding: 10px 24px; 
    cursor: pointer; 
    width: 50%; 
    background-color:purple;
 }

 #high-scores-header {
    margin:5px;
 }

 #final-score {
    color:#e63946;
    font-size:larger;
 }